BOT_TOKEN=123456789:AA...
FISH_API_KEY=ваш_ключ_с_fish.audio
FISH_MODEL=s2.1-pro-free

MAX_TEXT_CHARS=1000
MAX_VOICES_PER_USER=5
REF_MIN_SECONDS=8
REF_MAX_SECONDS=30
COOLDOWN_SECONDS=5
WORKERS=3
DATA_DIR=./data
